body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light background color */
    color: #333; /* Dark text color for better readability */
}

h1, h2 {
    text-align: center;
}
#dashboard, #spell-check, #summary, #loading {
    display: none;
}

#word-input {
    text-align: left;
}

#word-list {
    max-height: 300px; /* Limit height of the word list */
    overflow-y: auto; /* Enable scrolling for overflow */
}

#feedback {
    margin-top: 10px;
}

.correct {
    color: green; /* Green for correct letters */
}

.incorrect {
    color: red; /* Red for incorrect letters */
}

#summary {
    text-align: left; /* Left justify the summary page */
}

#stats {
    margin-top: 10px; /* Add space above stats */
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    z-index: 1000; /* Ensure it appears above other content */
    text-align: center;
    padding-top: 20%;
}

.loading-container {
    display: inline-block;
    text-align: center;
}

.progress {
    width: 50%;
    margin: 20px auto;
}

.progress-bar {
    background-color: #007bff;
    height: 25px;
}
