body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h1, h2 {
    text-align: left;
}

#word-input {
    text-align: left;
}

#dashboard, #spell-check, #summary {
    display: none;
}

#feedback {
    margin-top: 10px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}


#summary {
    text-align: center; /* Left justify the summary page */
}
